<h1>New Album</h1>

<form action="<%= band_albums_url(params[:band_id]) %>" method="post">
  <%= auth_token %>

  <label for="name">
    Name:
    <input id="name" type="text" name="album[name]" value="">
  </label>

  <br>
  <br>

  <label for="quality">
    Quality:
    Live<input id="quality" type="radio" name="album[quality]" checked value="Live">
    Studio<input id="quality" type="radio" name="album[quality]" value="Studio">
  </label>

  <br>
  <br>

  <input type="submit" value="Submit">
</form>
